<button type="button" v-if="login" class="btn btn-primary" @click="logout">Logout</button>
<div class="home">
    <div class="mx-auto overflow-hidden mt-10 shadow-lg mb-2 bg-purple-800 shadow-lg border rounded-lg lg:w-2/6 md:w-3/6 sm:w-4/6">
   <div class="">
     <div class="p-5 text-white text-center text-3xl bg-purple-900"><span class="text-orange-500">Calcu</span>lator</div>
     <div class="pt-16 p-5 pb-0 text-white text-right text-3xl bg-purple-800">
       <div class="md:container md:mx-auto">
         <p v-for="val in history" :key="val">{{val}}</p>
          <p>{{value}}</p> 
       </div>
       </div>
     <div class="p-5 text-white text-right text-3xl bg-purple-800"><span class="text-orange-500">{{result}}</span></div>
   <div v-for="(buttons,i) in rows" :key="i"  class="flex items-stretch bg-purple-900 h-24">
       <buttonCaculator v-for="button in buttons" 
       :key="button"
       @on-click="handleEvent"
       :character="button"
       />
   </div>
 </div>
</div>
 </div>